<h1>Edit Recipe</h1>

<a href= "/" class="back">Back</a>
	<br>
	<div class="show-recipe"><%=@recipe.name %></div>
	<%= @recipe.prep_time %>
	<%= @recipe.cook_time %>
	<%= @recipe.ingredients %>
	<%= @recipe.directions %>
	<div class= "space"></div>

	<form action= "/save-recipe/<%= @recipe.id %>" method="post">
		<input type="hidden" name="_method" value="patch"></input>
		<br>
		<div>
			<label>Recipe Title</label>
			<input type="text" name="recipe">
		</div>
		<br> 
		<div>
			<label>Prep Time:</label>
			<input type="text" name="prep_time">
	 	</div>
	 	<br>
		<div>
			<label>Cook Time:</label>
			<input type="text" name="cook_time">
		</div> 
		<br>
		<div>
			<label>Ingredients:</label>
		<br>
		<textarea type="essay"name="ingredients" rows="10" cols="80"><%= @recipe.ingredients %>
		</textarea>
		<br>
			<label>Directions</label>
		<br>
		<textarea type="essay"name="directions" rows="10" cols="80"><%= @recipe.directions %>
			</textarea>
		<br>
			<input class="edit-button" type="submit" value="edit recipe">
	</form>

